<!-- Comment Form -->
<div class ="row">
  <%= form_for ([@task, @task.comments.build]), data:{remote:true} do |f| %>
      <%= f.text_field :comment, class: "new_comment", :placeholder => "Add the comment, Hit 'Enter' to post" %>
      <% f.submit :submit %></td>
  <% end %>

</div>
