<!-- Renders Completed tasks in tab pane -->
<div id = "tasks_lists">
  <% if @tasks.count > 0 %>
      <%= render @tasks %>
    <% else %>
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        You dont have any tasks completed.
      </div>
    <% end %>
</div>
<%= will_paginate @tasks %>
