<!-- Task deletion confirmation box -->
<div class="panel-body">
  <div class= "col-sm-12 row">
    <div class="col-sm-8 delete_confirmation">
      Are you sure want to delete this entry ?
    </div>
    <div class="col-sm-4 delete_confirmation">
      <div class = "col-sm-6">
        <% if @task.user_id == current_user.id %>
          <%= link_to ("<div class = 'delete_confirmation_button'>Yes</div>").html_safe, task_path(@task.id) , method: :delete ,remote: true %>
        <% else %>
          <%= link_to ("<div class = 'delete_confirmation_button'>Yes</div>").html_safe, participant_path(@participant.id) , method: :delete ,remote: true %>
        <% end %>
      </div>
      <div class = "col-sm-6">
        <%#= link_to ("<div class = 'delete_confirmation_cancel_button'><u>No</u></div>").html_safe, tasks_path %>
        <div class = 'delete_confirmation_cancel_button'><u>No</u></div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.delete_confirmation_cancel_button').on('click', function(){
    $('.delete_box').hide();
  });
</script>