<!-- Task/Particaption request panel -->
<div class="tab-pane active" id="task_requests">
     <% if @participants.count > 0 %>
      <% @participants.each do |participant| %>
         <div class="panel panel-default request" id="request_display_panel_<%= participant.id %>">
             <div class="panel-body">
                <div class = "col-sm-12">
                  <div class = "col-sm-8">
                      <strong><span class= "text-success"><%= truncate(participant.task.title, length: 27) %></span></strong> is shared with you.
                  </div>
                  <div class = "col-sm-4">
                    <div class = "col-sm-6">
                      <%= link_to ("<div class = 'share_link accept_request'>Accept</div>").html_safe, accept_request_participant_path(participant.id), remote:true %>
                    </div>
                    <div class = "col-sm-6">
                      <%= link_to ("<div class = 'share_link decline_request'>Decline</div>").html_safe, participant_path(participant.id), method: :delete, remote:true %>
                    </div>
                  </div>
                </div>
             </div>
         </div>
      <% end %>
     <% else %>
         <div class="alert alert-danger">
           <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
           You dont have any task requests.
         </div>
     <% end %>
</div>
