<div class = "form_cont">
  <div class = "row">
    <div class = "col-sm-12">
      <div class ="col-sm-2 pull-left">
        <h4><%= link_to "Log In", new_user_session_path, class:"link_panel active"%></h4>
      </div>
      <div class = "col-sm-2 pull-right">
        <h4><%= link_to "Sign up", new_registration_path(resource_name), class:"link_panel inactive right"%></h4>
      </div>
    </div>
  </div>
  <hr />
  <%=  render 'form' %>
  <!--<%= render "users/shared/links" %> -->
</div>
