<div class="panel panel-default task_add">
  <div class="panel-body">
    <%= form_for current_user.tasks.build do |f| %>
      <div class = 'input-group'>
        <span class="input-group-addon">
          <span class = "task_add_btn"></span>
        </span>
        <%= f.text_field :title, class:'new_task', autofocus:true, placeholder:"Add your TODO entry, Hit Enter to post", autocomplete: :off %>
      </div>
        <% f.submit :submit %>
    <% end %>
  </div>
</div>
  <% if @tasks.count > 0 %>
    <%= render @tasks %>
  <% else %>

    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Sorry!</strong> You dont have any tasks assigned.
    </div>
  <% end %>

<%= link_to "Signout" ,destroy_user_session_path, method: :delete %>
