<ul class="list-group users">
  <% @users.each do |user| %>
    <li class="list-group-item user"><span class="badge"><%= user.tasks.count%></span><%= link_to user.name, user_path(user.id) %></li>
  <% end %>
</ul>
