@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require todohub
 *= require_tree .
 *= require twitter/bootstrap
 *= require_self
 *= require bootstrap

 */
 $color_celeste_approx: rgba(226, 224, 224, 0.4);

 body {
 	background: $color_celeste_approx !important;
 }
 .container {
 	width: 800px;
 }
 input.form-control{
   height: 50px;
   margin: 20px 20px 0 0;
   padding-left: 10px;
   background-color: #F3F3F3;

 }
 input.form-control:focus{
   height: 50px;
   margin: 20px 20px 0 0;
   padding-left: 10px;
   background-color: white;
   box-shadow: none;
 }
 .form_cont{
   background: white;
   width:800px;
   padding:20px;
   margin-top: 100px;
   box-shadow: 0 4px 5px -2px #BFBBBB;
 }
.link_panel.inactive{
  font-family: 'Open Sans';
   color:#cccccc;

 }
 .link_panel.active{
   font-family: 'Open Sans';
    color:#34495e;

  }

.table th, .table td {
     border-top: none !important;
 }
 td{
   align-content: center;
 }
 label{
   margin-top: 30px;
   color:#34495e;
   font-family: 'Open Sans';
   font-size: 18px;
   font-weight: 400;
 }
 .link_panel.right{
   float:right;
 }
 a:hover{
   text-decoration: none;
 }
 textarea.form-control {
    height: 100px;
}
.new_task, .new_task:focus{
  font-family: 'Open Sans';
  border-style: none;
  outline: 0;
  font-size: 15px;
  background-color:transparent !important;
  width:100% !important;
  height:100%;
}
.input-group{
  width: 100%;
}
.input-group-addon:first-child {
    border-right: 0;
    background-color: transparent;
    outline: 0;
    border-style: none;
    width: 30px;
    height: 30px;
    background: url('iconsprite.png') -112px -5px;
  }
.task_title{
  height:auto;
  word-break: break-all;
}
.task_menu_btn{
  width: 29px;
  height: 29px;
  outline: 0;
  border-style: none;
}
.delete_button{
  width: 29px;
  height: 29px;
  outline: 0;
  border-style: none;
  background: url("iconsprite.png") -77px 0px;
}
.delete_button:hover,.delete_button:active {
  background: url("iconsprite.png") -77px -35px;
}
.up_button{
  background: url("iconsprite.png") -33px 0px;
}
.up_button:hover, .up_button:active {
  background: url("iconsprite.png") -33px -37px;
}
.down_button{
  background: url("iconsprite.png") -6px 2px;
}
.down_button:hover, .down_button:active{
  background: url("iconsprite.png") -6px -33px;
}
.comp_button{
  background: url("iconsprite.png") -145px 0px;
  width: 35px;
  height: 36px;
}
.panel.task_add{
    margin-bottom: 100px;
    margin-top: 50px;
}
.panel.delete_box{
  border:solid 1px #D01919;
}
.delete_confirmation{
  font-size: 16px;
  color: #34495e;
  font-family: 'Open Sans'
}
.delete_confirmation_button{
  border:solid 1px black;
  color: #34495e;
  font-family: 'Open Sans';
  font-weight: bold;
  width:50px;
  text-align: center;
  vertical-align: middle;

}
.delete_confirmation_cancel_button{
  color:#34495e;
  font-family: 'Open Sans';
}
.alert{
  color:#34495e;
  padding-left: 30px;
}
.navbar{
  background: rgb(243, 242, 242) !important;
  border: 0;
  font-size: 16px;
}
.navbar-brand{
  color:#524A8C;
  font-size: 20px;
  font-weight: bold;
}
