body {
 background: rgba(226, 224, 224, 0.4) !important;
}
.container {
 width: 800px !important;
}
input.form-control{
	height: 50px;
	margin: 20px 20px 0 0;
	padding-left: 10px;
	background-color: #F3F3F3;
  box-shadow: none;
  outline:0;

}
input.form-control:focus{
	height: 50px;
	margin: 20px 20px 0 0;
	padding-left: 10px;
	background-color: white;
	box-shadow: none;
}

.form_cont{
	background: white;
	width:800px;
	padding:20px;
	margin-top: 50px;
	box-shadow: 0 4px 5px -2px #BFBBBB;
}
.link_panel.inactive{
 font-family: 'Open Sans';
	color:#cccccc;
  font-weight: lighter;

}
.link_panel.active{
	font-family: 'Open Sans';
	 color:#34495e;
    font-weight: lighter;
 }

.table th, .table td {
		border-top: none !important;
}
td{
	align-content: center;
}
label{
	margin-top: 30px;
	color:#34495e;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
}
.link_panel.right{
	float:right;
}
a{
	text-decoration: none;
	color:#34495e;
}
a:hover{
	text-decoration: none;
	color:#34495e;
}
textarea.form-control {
	 height: 100px;
}
.new_task, .new_task:focus{
 font-family: 'Open Sans';
 border-style: none;
 outline: 0;
 font-size: 15px;
 background-color:transparent !important;
 width:100% !important;
 height:100%;
}
input.new_task, input.new_task:hover, input.new_task:focus{
 font-family: 'Open Sans';
 border-style: none;
 outline: 0;
 font-size: 15px;
 color:#34495e;
 width:100% !important;
 height:60px;
}
.input-group.task{
 width: 100%;
 background-color:white !important;
 margin-bottom:90px;
}
.input-group-addon:first-child {
	 border-right: 0;
	 outline: 0;
	 border-style: none;
	 width: 28px;
	 height: 60px;
	 background: url('iconsprite.png') -109px 11px;
 }
.task_title, .task_title a{
 height:auto;
 word-break: break-all;
 font-size: 16px;
 color:#34495e;
}
.task_date{
 color:#999999;
 font-size: 12px;
 margin-top: 3px;
}
.task_author{
  color:#999999;
  font-size: 12px;
  margin-top: 5px;
}
.task_menu_btn{
 width: 29px;
 height: 29px;
 outline: 0;
 border-style: none;
}
.delete_button{
 width: 29px;
 height: 29px;
 outline: 0;
 border-style: none;
 background: url("iconsprite.png") -77px 0px;
}
.delete_button:hover,.delete_button:active {
 background: url("iconsprite.png") -77px -35px;
}
.up_button{
 background: url("iconsprite.png") -33px 0px;
}
.up_button:hover, .up_button:active {
 background: url("iconsprite.png") -33px -37px;
}
.down_button{
 background: url("iconsprite.png") -6px 2px;
}
.down_button:hover, .down_button:active{
 background: url("iconsprite.png") -6px -33px;
}
.comp_button{
 background: url("iconsprite.png") -145px 0px;
 width: 35px;
 height: 36px;
}
.comp_button:hover{
 background: url("iconsprite.png") -145px -71px;
 width: 35px;
 height: 36px;
}

.comp_button.completed{
 background: url("iconsprite.png") -145px -71px;
 width: 35px;
 height: 36px;
}
.comp_button.completed:hover{
 background: url("iconsprite.png") -145px -108px;
 width: 35px;
 height: 36px;
}
.panel.task_add{
	 margin-bottom: 100px;
	 margin-top: 50px;
}
.panel.delete_box{
 border:solid 1px #D01919;
}
.delete_confirmation{
 font-size: 16px;
 color: #34495e;
 font-family: 'Open Sans'
}
.delete_confirmation_button{
 border:solid 1px black;
 color: #34495e;
 font-family: 'Open Sans';
 font-weight: bold;
 width:50px;
 text-align: center;
 vertical-align: middle;

}
.delete_confirmation_cancel_button{
 color:#34495e;
 font-family: 'Open Sans';
}
.alert{
 color:#34495e;
 padding-left: 30px;
}
.navbar{
 background: rgb(243, 242, 242) !important;
 border: 0;
 font-size: 16px;
 outline:0;
}
.navbar.navbar-default{
   box-shadow: none;
   outline:0;
   border: 0;
}
.navbar-brand{
 color:#524A8C;
 font-size: 20px;
 font-weight: bold;
}

#show_tabs{
 margin-top: 30px;
}
.task_completion_slider_box{
 margin-left: 15px;
 margin-top: 20px;
 font-size: 16px;
 color: #34495e;

}
.share_link{
  border-radius: 4px;
  border: 1px solid #34495e;
  width:100px;
  text-align: center;
  vertical-align: middle;
  color:#34495e;
  margin-left: 15px;
  background: white;
}
.share_link.cancel{
  float:right;
  color:darkred;
}
.share_link.button{
  margin: 0 auto;
}
.new_comment{
  font-family: 'Open Sans';
  border-style: none;
  outline: 0;
  font-size: 15px;
  background-color:white !important;
  width:100% !important;
  height:50px;
  padding-left: 20px;
}
.comment{
  font-size: 16px;
  font-weight: normal;

}
.commenter_name{
  color:#34495e;
  font-size: 15px;
}
.comment_date{
  color:#999999;
  font-size: 12px;
}
.panel-heading{
  text-align: center;
}
.modal{
  height:75%;
  padding:10px;
  overflow:scroll;
  position: relative;
}
.share_link.accept_request {
  float:right;
  width:80px;
}
.shared_people{
  color:#999999;
  font-size: 12px;
  margin-top: 10px;
}
.user_show_name{
  font-size: 30px;
  font-weight: bold;
  text-align:center;
}
.user_show_details{
  text-align: center;
}
.user_show_description{
  font-size: 12px;
  color:#999999;
  margin-top: 20px;
  word-break: break-all;
}
.edit_profile_link, .edit_profile_link > a{
  text-decoration: underline;
  font-size: 16px;
  font-family: 'Open Sans';
  float:right;
  color:#34495e;
}
.edit_name{
  font-family: 'Open Sans';
  border:1px solid black;
  outline: 0;
  font-size: 15px;
  background-color:white !important;
  width:100% !important;
  height:100%;
  padding-left: 15px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    margin: 20px 20px 0 0;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.prof_img{
  text-align: center;
  vertical-align: middle;
}


.ui-slider .ui-slider-handle {
    height: 20px;
    width: 5px;
    padding-left: 5px; //add this
}
.ui-slider {
  height:20px;
  border-radius: 0px;
}
.ui-slider-horizontal .ui-slider-handle {
top:0px;
margin-left: -5px;
display:none;
}


.btn-default.dropdown-toggle, .btn-default.dropdown-toggle:hover{
  background-color: transparent;
  color: #34495e;
  box-shadow: none;
}
.dropdown-header{
    color:#34495e !important;
    text-transform: none !important;
    font-size: 16px !important;
}
#slider{
  width:600px;
  height:20px;
}
#completion_perc {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 2px;
  left: 300px;
  z-index: 1;
}
#slider_group {
  position: relative;
}
.ui-slider-range {
    background-color: #1abc9c !important;
}
#total_completion_perc{
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 18px;
  left: 300px;
  z-index: 1;
  font-size: 13px;
  font-weight: bold;
}
#total_progress{
  width:550px;
  height: 20px;
}
.progress.progress-bar{
  height:20px;
}
.logo{
  width: 135px;
  height: 46px;
  background: url('logo.png');
  margin: 0 auto;
  margin-top: 50px;
}
.ui-slider-range{
  background: #fff;
}
.ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min{
background: rgb(255, 255, 255);
}
